# ==========================
# Python / Django
# ==========================
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env

# ==========================
# Django
# ==========================
staticfiles/
media/

# ==========================
# Node / React / Vite
# ==========================
node_modules/
dist/
build/
.vite/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS / Editor
# ==========================
.DS_Store
Thumbs.db
.vscode/
.idea/
